.blog-post {
  width: 75vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-image {
  max-width: 75vw;
  max-height: 500px;
  height: auto;
  flex: auto;
  align-self: center;
}

.post-content {
  font-family: 'Charter', serif;
  font-size: min(3vw, 18px);
  padding: 24px;
  line-height: 150%;
}

.post-content a {
  text-decoration: underline;
}