.comment-section {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 75vw;
  gap: 16px;
  border-top: 1px solid gray;
  padding-top: 24px;
}

.comment-section h3 {
  text-align: center;
}

.comment-section > p {
  text-align: center;
}