.posts-overview {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.posts-overview > h2 {
  text-align: center;
}

.post-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}