.post-card {
  display: flex;
  justify-content: space-around;
}

.post-info {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.post-info > div:first-child {
  flex: auto;
}

.post-card-author {
  font-size: small;
}

.post-card-title {
  font-size: min(1.2em, 3vw);
}

.counts-tags {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: small;
}

.post-thumbnail img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
}